.main-home{
    background: url("../../../images/home/01.jpg") center/cover no-repeat;
}
.team-x2{
    background: url("../../../images/home/02.gif") center/cover no-repeat;
}
.team-dragon{
    background: url("../../../images/home/03.jpg") center/cover no-repeat;
}
.starship{
    background: url("../../../images/home/04.jpg") center/cover no-repeat;
}