.commercial-flights{
    background-color: #000000;
    height: 100%;
    padding: 2rem 0;
}
.commercial-flights-text{
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
}
.mission{
    font-weight: 800;
    .mission-detail{
        font-size: 2.5rem;
        font-weight: 400;
    }
}




// .main-human{
//     background: url("../../images/humanFlight/01.png") center/cover no-repeat;
//     height: 100vh;
//     width: 100%;
//     .menu-item{
//         color: #ffffff;
//     }
//     #human-title{
//         font-size: 8rem;
//     }
//     .human-hero{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         .bi{
//             margin-top: 0.3rem;
//         }
//     }
// }
// .commercial-flights{
//     background-color: #000000;
//     height: 100%;
//     padding: 2rem 0;
// }
// .commercial-flights-text{
//     font-size: 2rem;
//     text-align: center;
//     padding: 2rem 0;
   
// }
// .mission{
//     font-weight: 800;
//     .mission-detail{
//         font-size: 2.5rem;
//         font-weight: 400;
//     }
// }

// .earth-mission{
//     background: url("../../images/humanFlight/02.jpg") center/cover no-repeat;
//     align-items:end;
// }
// .station-mission{
//     background: url("../../images/humanFlight/03.jpg") center/cover no-repeat;
// }
// .moon-mission{
//     background: url("../../images/humanFlight/04.jpg") center/cover no-repeat;
//     align-items:end;
// }
// .mars-mission{
//     background: url("../../images/humanFlight/05.jpg") center/cover no-repeat;
// }