.main-human{
    #human-title{
        font-size: 7rem;
    }
    .hero{
        align-items: center;
        text-align: center;
        .bi{
            margin-top: 0.3rem;
        }
    }
    body{
        width: 100%;
    }
}


