.main-falcon{
    background: url("./images/falcon9/01.jpg") center/cover no-repeat;   
}
.falcon-origin{
    background: url("./images/falcon9/02.jpg") center/cover no-repeat;
}
.first-component{
    background: url("./images/falcon9/03.jpg") center/cover no-repeat;
}
.second-component{
    background: url("./images/falcon9/04.jpg") center/cover no-repeat; 
}
.third-component{
    background: url("./images/falcon9/05.jpg") center/cover no-repeat;
    height: 100%;
}
.fourth-component{
    background: url("./images/falcon9/06.jpg") center/cover no-repeat;
}
.fifth-component{
    background: url("./images/falcon9/07.jpg") center/cover no-repeat;
}
.falcon-merlin{
    background: url("./images/falcon9/08.jpg") center/cover no-repeat;
    height: 100%;
}